@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

html {
  background-color: #020618;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  
}

@layer utilities {
  @keyframes loading {
    0% {
      transform: translateX(-100%)
    }
    100% {
      transform: translateX(250%)
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


::-webkit-scrollbar {
  width: 2px;
  height: 2px; 
}

::-webkit-scrollbar-track {
  background-color: #3b3b3b; 
}

::-webkit-scrollbar-thumb {
  background-color: #414040; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #424242; 
}

* {
  scrollbar-width: thin;
  scrollbar-color: #222222 #020618;
}


.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}

.yarl__button {
  background-color: rgba(59, 130, 246, 0.8) !important;
  color: #f3f4f6 !important;
  border-radius: 0.3rem !important;
  padding: 0.2rem .4rem !important;
  transition: all 0.3s ease !important;
}

.yarl__button:hover {
  background-color: rgba(59, 130, 246, 0.7) !important;
  box-shadow: 0 0 15px rgba(59, 130, 246, 0.4) !important;
}

@media (max-width: 640px) {
  .yarl__button {
    background-color: transparent !important;
  }

  .yarl__button:hover {
    background-color: transparent !important;
    box-shadow: none !important;
  }
}

.embla {
  margin: auto;
  --slide-height: 30rem;
  --slide-spacing: 1rem;
  --slide-size: 80%;
}



@media (min-width: 1024px) {
  .embla {
    --slide-height: 38rem;
    --slide-size: 45%;
  }
}

.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__img {
  border-radius: 1.8rem;
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}
.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}





