@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

html {
  background-color: #020618;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  
}

@layer utilities {
  @keyframes loading {
    0% {
      transform: translateX(-100%)
    }
    100% {
      transform: translateX(250%)
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


::-webkit-scrollbar {
  width: 2px;
  height: 2px; 
}

::-webkit-scrollbar-track {
  background-color: #3b3b3b; 
}

::-webkit-scrollbar-thumb {
  background-color: #414040; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #424242; 
}

* {
  scrollbar-width: thin;
  scrollbar-color: #222222 #020618;
}
